
/* estilos para el header con flex */
header{
  background-color: #f8f8f8; 
  display: flex;
  justify-content: space-between; 
  align-items: center;
  padding: 10px;
  border: 1px solid #999
  
}

.encabezado{

  text-align: center;
  padding: 10px;
    
}

#logo {

    width: 15%; 
 
}
#contacto{
    width: 15%; 
    font-size: 12px;
   
}

#titulo {
    width: 70%; 

}

#Botones {
  
  display: flex;
  justify-content: center; /* centra horizontalmente */
  align-items: center;     /* centra verticalmente (si hay altura definida) */
  gap: 10px;               /* espacio entre los botones */
  padding: 10px;           /* separación de los bordes */
  flex-wrap: wrap;         /* permite que se acomoden en varias líneas si no hay espacio */
}

.bootes {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  background-color: #023061;
  color: white;
  border-radius: 10px;
  transition: background-color 0.3s ease;
}

.bootes:hover {
  background-color: #66b3ff;  /* Azul claro al pasar el cursor */
}

#Tarjetas {
  display: flex;
  justify-content: center; /* Centra horizontalmente las tarjetas */
  gap: 20px;               /* Espacio entre tarjetas */
  padding: 20px;
  flex-wrap: wrap;         /* Permite que bajen si no hay espacio */
}

.tarjeta {
  border: 2px solid #444;
  border-radius: 12px;
  padding: 20px;
  background-color: #fff;
  width: 30%;
  margin: 3px auto;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.tarjeta h1 {
  text-align: center;
  margin-bottom: 20px;
}

.contTarjeta {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
}

.contTarjeta > div {
  flex: 1;
  min-width: 300px;
}

.imgTarjeta {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.pTarjeta {
  font-size: 18px;
  color: #333;
  text-align: justify;
}

.botTarjeta {
  width: 70%;
  margin-top: 25px;
  padding: 12px 25px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  display: block;
  margin-left: auto;
  margin-right: auto;
  transition: background-color 0.3s;
}

.botTarjeta:hover {
  background-color: #66b3ff;
}

footer {
  background-color: #f8f8f8; /* Color suave para pie de página */
  text-align: center;
  padding: 30px 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px;
  color: #555;
  border-top: 1px solid #ddd;
}

footer p {
  margin: 6px 0;
}

#h2footer {
  font-size: 18px;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}

#pfooter {
  font-style: italic;
  color: #666;
}

#ptelefono,
#pdireccion {
  font-size: 13px;
}